.how-to-table {
    width: 80%;
    margin: 30px;
    padding: 10px;
}

.how-to-table th {
    text-transform: lowercase;
}

.how-to-table table {
    border-radius: 16px;
    overflow: hidden;
}

.input-label {
    font-weight: bold;
    /* margin: 5px; */
    /* padding: 5px; */
}

.example-block {
    display: flex;
    flex-direction: column;
    margin: 10px 60px 20px 60px;
}   

.valid-inputs {
    color: green;
    margin-left: 20px;
}

.invalid-inputs {
    color: red;
    margin-left: 20px;
}

.img-hover-link {
    cursor: pointer;
    color: #2196f3;
    overflow: visible; 
    overflow-clip-margin: 0;
}

.card-image {
    display: none;
    position: absolute;
    width: 300px;
    height: auto;
    border: none;
    /* border-radius: 40px; */
}

/* .card-image img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 40px;
    overflow: hidden;
} */

.img-hover-link:hover + .card-image {
    display: block;
    border: 1px solid #ccc;
    border-radius: 40px;
}

