.grade-info-container {
    flex: 1;
    border: 1px solid #ccc; /* Add border */
    border-radius: 16px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin: 10px 0; /* Margin between boxes */
    background: linear-gradient(to bottom right, #3d444d, #0e1a27);
}

.grades-section {
    padding: 0px 20px 0px 20px; /* Adjust padding as necessary */
    margin-left: 60px;
    margin-right: 60px;
}

.grade-info-row {
    display: flex;
    justify-content: space-between; /* Distributes space between elements */
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    gap: 10px; /* Space between grade info and image */
}

.grader-description {
    font-style: italic;
    font-size: 1rem;
    padding: 10px;
}

.grading-criteria-container {
    flex: 1;
    border: 1px solid #ccc; /* Add border */
    border-radius: 16px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin: 10px 300px 0px 100px;; /* Margin between boxes */
    background: linear-gradient(to bottom right, #3d444d, #0e1a27);
}

.grading-criteria {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.grading-criteria ul {
    margin: 20px; /* Remove default margin */
    padding-right: 20px; /* Add space between list and image */
}