.how-to-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.how-to-container h1 {
    font-size: 2.5rem;
    margin: 30px;
    padding: 10px;
}

.how-to-container h2 {
    font-size: 1.8rem;
    margin-top: 10px;
    /* padding: 10px; */
}

.how-to-container p {
    font-size: 1rem;
    margin: 15px;
    /* padding: 10px; */
}

.how-to-container ul {
    font-size: 1rem;
    list-style-type: disc;
    padding-left: 20px;
}

.how-to-container ul li {
    margin-bottom: 10px;
}

.how-to-table {
    overflow: hidden;
}

.how-to-button {
    background-color: #444; /* Darker button background */
    color: white; /* White text for buttons */
    border: none; /* Remove default border */
    padding: 10px 15px; /* Padding for buttons */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 10px 10px; /* Margin between buttons */
}

.how-to-button:hover {
    background-color: #555; /* Change background color on hover */
}

.how-to-button[data-active="true"] {
    margin-bottom: 20px; /* Add some space below the button */
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    /* border-radius: 25px; */
    /* cursor: pointer; */
    color: white;
    background: linear-gradient(45deg, #2196f3, #1976d2);
    font-weight: 500;
    letter-spacing: 0.5px;
    /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
    box-shadow: 0 4px 15px rgba(33, 150, 243, 0.3);
}


