.variations-section {
    /* margin-top: 0px; */
    margin-left: 150px;
    margin-right: 150px;
}

.variation-container {
    border: 1px solid #ccc; /* Add border */
    border-radius: 16px; /* Rounded corners */
    padding: 10px; /* Padding inside the box */
    margin: 10px 0; /* Margin between boxes */
    background: linear-gradient(to bottom right, #3d444d, #0e1a27);
}

.variation-header {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 30px 0px 0px 30px;
    padding: 10px;
}

.variation-description {
    font-style: italic;
    font-size: 1rem;
    margin: 30px 0px 0px 60px;
    padding: 10px;
}

.example-image-box {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.example-image-box img {
    width: 300px;
    height: auto;
    /* Optional: add a border or shadow for distinction */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.magic-example-image-box {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.magic-example-image-box img {
    width: 200px;
    height: auto;
    /* Optional: add a border or shadow for distinction */
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
}

.example-image-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}